---
title: Javier Usobiaga, web designer & front-end developer
description:
---

.home__intro
  %p
    %span.home__hi Hi, I'm
    %span.home__title JAVIER USOBIAGA
  %p
    I'm a web designer & front-end developer at <a href="http://Swwweet.com">Swwweet.com</a>, in Barcelona. I also teach web development in design schools like <a href="http://idep.es/">IDEP</a>. You can find me on Twitter (<a href="http://twitter.com/htmlboy">@htmlboy</a>) or write me at <a href="mailto:javier@swwweet.com">javier@swwweet.com</a>.

  %p
    What else? Oh, right. I have an almost-abandoned <a href="/blog"><strong>BLOG</strong></a> where I write every 3 or 4&nbsp;years. Lower your expectations.